<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="header_footer/header :: headerFragment"></th:block>

<head>
    <meta charset="UTF-8">
    <title>store get</title>


    <link rel="stylesheet" th:href="@{/css/store_css.css}">

</head>
<body>

<!--<td th:text="${storeVO}"></td>-->


<div class="container py-4 mt-5">
    <div class="row">
        <div class="col-lg-6">
            <img th:src="@{/img/} + ${storeVO.oriFilename}" alt="Product Image" class="img-fluid">
        </div>
        <div class="col-lg-6">
            <h1 th:text="${storeVO.storeName}" class="mb-4 purple2"></h1><br><br>
            <p th:text="${storeVO.category1}" class="mb-4"></p>
            <p th:text="'주소 : ' + ${storeVO.storeAddress}" class="mb-4"></p>
            <p th:text="'번호 : ' + ${storeVO.phoneNumber}" class="mb-4"></p><br><br>
            <a href="#" class="btn btn-primary">찜하기</a>
            <a href="#" class="btn btn-warning">예약하기</a>
        </div>
    </div>
</div>




<th:block th:replace="header_footer/footer :: footerFragment"></th:block>

</body>
</html>