<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="header_footer/header :: headerFragment"></th:block>


<head>
    <meta charset="UTF-8">
    <title>store list</title>
    <link rel="stylesheet" th:href="@{/css/store_css.css}">

    <style>
        .yellow {
            color : #FFA500;
        }
        .fs20{
            font-size: 20px;
        }
        .img_size{
            width: 250px;
            height: 250px;
        }
    </style>
</head>
<body>


<!--<td th:text="${storeList}"></td>-->



<!--main-->
<main>
    <div class="container">
        <h1 class="text-center mt-5 mb-5 purple2">IT WILL 맛집</h1>

            <button class="btn btn-warning">가성비순</button>
            <button class="btn btn-warning">인기순</button>
            <button class="btn btn-warning">거리순</button>

        <div class="col-md-2 float-right">
            <div class="form-group">
                <select class="form-control" id="cuisine-select">
                    <option selected disabled>FOOD STYLE</option>
                    <option value="한식">한식</option>
                    <option value="중식">중식</option>
                    <option value="일식">일식</option>
                    <option value="양식">양식</option>
                    <option value="퓨전">퓨전</option>
                    <option value="푸드코트">푸드코트</option>
                </select>
            </div>
        </div>
    </div>

<!--    <td th:text="${storeList}"></td>-->

    <div class="container">
        <div class="row col-md-12 mb-5">
                <div th:each="storeVO : ${storeList}" class="image-container mb-5">

                    <a th:href="@{/store/get(storeIdx=${storeVO.storeIdx})}">
                        <img th:src="@{|/store/${storeVO.filename}|}" class="img-fluid img_size" />

                        </br> </br>
                        <span th:text="${storeVO.category1}" class="purple2"></span><br>

                        <div class="mb-2">
                            <span th:text="${storeVO.storeIdx} + '. ' + ${storeVO.storeName}"
                              class="purple fs20"></span>
<!-- 별점 -->

                            <!--<span th:each="i: ${#numbers.sequence(1, 4)}" class="yellow">★</span>-->

                            <th:block th:with="starCount=${storeVO.starVO.storeStar}">
                                <span th:if="${starCount != 0.0}" th:each="i: ${#numbers.sequence(1, starCount)}" class="yellow">★</span>
                            </th:block>

                            <span th:text="${storeVO.starVO.storeStar}"></span>

<!-- 별점 끝-->
                        </div>

                        <div th:text="${storeVO.storeAddress}" class="gray"></div>
                    </a>
                </div>
        </div>

        <div class="text-right">
        <a th:href="@{/store/register}" class="btn btn-danger">
            나만의 맛집등록
        </a></div><br><br><br>

    </div>





</main>



<th:block th:replace="header_footer/footer :: footerFragment"></th:block>

</body>
</html>

